.mycenter
    .row
        .col-4.col-sm-4.col-lg-4.col--offset-4.col-sm-offset-4.col-lg-offset-4
            .thumbnail
                .media
                    a.pull-left(href='#')
                        img(data-src='holder.js/120x120/social', alt='')
                    .media-body
                        h3.media-heading Taj Ganges Varanasi
                        address
                            strong www.tajhotels.com
                            br
                            | Nadesar Palace GraoundsNadesar, Varanasi - 221002, UTTAR PRADESH
                            br
                            abbr(title='Phone') P:
                            | (0542)-2503001/019
//
       row
