doctype html
html
  head
    title HotelSquare
    meta(charset='utf-8')
    meta(name='description', content='indian hotel search')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(href='css/bootstrap-glyphicons.css', rel='stylesheet')
    link(rel='stylesheet', href='css/my.css')
    link(rel='stylesheet', href='css/global.css')    
    link(rel='stylesheet', href='css/typeahead.js-bootstrap.css')
    link(rel='stylesheet',href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='css/nprogress.css')    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic')    

  body(style='display: none')
      nav.navbar.navbar-default.navbar-fixed-top#navbar(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar

          a.navbar-brand(href='/')
              //img.rotate(src="/ico/send.png")
              span.label.label-info.myfont HotelSquare
          
        .collapse.navbar-collapse.navbar-ex1-collapse
            
               
            form.navbar-form.navbar-left(role='search')
                  .form-group
                     input.typeahead.form-control.glowing-border.nav-search.target(type='text', name='searchbox', ,placeholder='Search')
                  button.search-button(type="button", class="btn btn-info") Submit
      
                 
            ul(class="nav navbar-nav navbar-right")  
              li.navlink
                 a#navlink(href='/hotel.html') Hotels
              li.navlink
                 a#navlink(href='/agent.html') Agents
              li.navlink
                 a#navlink(href='/about.html') About Us

  

    
    .my-main.my-height1#maintext
      
        img.fade2.out(src="http://farm6.staticflickr.com/5442/9685944110_c3843d25e5_o.png", class="taj" ,style="cursor:pointer;")
        h1#theme-color HotelSquare
        form.fade2.out(action='#', role="form")
                .form-group
                    label.sr-only Sreach text          
                  .col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-offset-3
                    input.typeahead.form-control.glowing-border.target(type='text', name='searchbox', ,placeholder='Enter Hotel Name or City or State')
                .col-sm-6.col-sm-offset-3.col-xs-offset-3(style="padding:20px")
                  .btn-group       
                    button.btn.btn-default.search-button(type='button') Search 
                            //- i.glyphicon.glyphicon-search 
                    .btn-group

                      button.btn.btn-default.dropdown-toggle(type='button',data-toggle="dropdown", id="search-type" ) Hotels  
                            span.caret
                      ul.dropdown-menu.search-list 
                        li
                          a.search-select(href="#") Search Hotel
                        li
                          a.search-select(href="#") Search Travel Agents
                  //- span.input-group-btn
                        button.btn.btn-info.search-button(type='button')
                            i.glyphicon.glyphicon-search
                  //- span.input-group-btn                  
                        button.btn.btn-info.dropdown-toggle(type='button',data-toggle="dropdown", id="search-type" ) Hotels  
                            span.caret
                        ul.dropdown-menu.search-list 
                          li
                            a.search-select(href="#") Search Hotel
                          li
                            a.search-select(href="#") Search Travel Agents




        //- footer
              h3
                a.label.label-warning(href="http://tourism.gov.in/", target="blank") Open Data from Ministry of Tourism, Govt. of India-2013

    nav.navbar.navbar-inverse.navbar-fixed-bottom.fade2.out#mainnavbar(role='navigation')
        .navbar-header
          //- button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar

          a.navbar-brand(href='http://data.gov.in/', target="blank")
                img(src="/img/data.png",style="max-width:80px;" ,alt="")
        
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul(class="nav navbar-nav navbar-right")  
              li
                 a(href='http://tourism.gov.in/', target="blank") Data from Govt. Of Tourism India
              li
                img(src="/img/logo.png",style="max-height:40px;padding-top:15px" ,alt="")
              //- li.navlink
              //-   img(src="/img/data.png",style="max-width:80px;padding-top:18px" ,alt="")


    .alert-div
       .row
          .col-lg-6.col-md-8.col-sm-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-3
              .alert.alert-danger.alert-text               
                  
                  

    .hotel-list#search

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src="js/nprogress.js") 
    script(type='text/javascript')
      $('body').show();      
      NProgress.start();
    script(src='js/bootstrap.min.js')
    script(src='js/responsiveslides.min.js')      
    
    script(src='js/holder.js')
    script(src='js/typeahead.js')
    script(src="js/appear.js")         
    script(src="js/hotelsquare.js")    
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(type='text/javascript')
      NProgress.set(0.8);
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
    script(src="http://www.google.com/jsapi") 
    script(src="js/jquery.stellar.min.js") 

    script(type='text/javascript')      
      NProgress.done();
      $('.fade2').removeClass('out'); 